---
import ServiceCart from '../components/service/ServiceCart.astro';
import OperatorDescription from '../components/operator/OperatorDescription.astro';
import KeywordMetaTag from '../components/metaTag/keywordMetaTag.astro';
import SearchBotTag from "../components/metaTag/searchBotTag.astro";
import DescriptionMetaTag from '../components/metaTag/descriptionMetaTag.astro';
import Footer from '../components/footer/footer.astro';

import serviceManager from '../services/serviceManager.json';
import keywordManager from '../services/keywordManager.js';

const serviceList = serviceManager.serviceList;
const keyWordList = keywordManager();

let title = 'حرید بسته اینترنتی شاتل موبایل';
---
<html
	lang="fa"
	dir="rtl"
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<KeywordMetaTag keyWordList={keyWordList}/>
	<SearchBotTag />
	<DescriptionMetaTag />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8VZE4RS3J1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-8VZE4RS3J1');
	</script>
</head>
<body>
	
	<header>
		<img
			src="/assets/Logo.png"
			alt="شاتل موبایل"
		>
		<h1>
			خرید بسته اینترنتی شاتل
		</h1>
		<OperatorDescription />
	</header>
	<main>
		
		
		<ul>
			{serviceList.map((item) => (
			<li>
				<ServiceCart  service={item}/>
			</li>
			))}
		</ul>
		
	</main>
	<Footer />
</body>
</html>
