<article>
    <h2>
        درباره شاتل موبایل
    </h2>
    <p>
        شرکت شاتل ارئه دهنده ی خدمات اینترنتی، در راستای ارائه ی خدمات بهتر به مشتریان خود، اقدام به فروش سیم کارت های شاتل با پیش شماره ی 0988  نموده است.
    </p>
    <p>
        ارائه خدمات و بسته های اینترنتی بصرفه، از مزایای این نوع سیم کارت میباشد که شما میتوانید همزمان با خرید سیم کارت های شاتل موبایل، از آنها استفاده نمایید.
    </p>
</article>  